.mainarea {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: grey

}

.frame {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    
    background-color: black;
    padding: 100px;
    margin: 100px 0;
}


.plusbutton, .setbutton {
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;


}

.plusbutton img, .setbutton img {
    width: 90%;
    height: 90%;
    object-fit: fill;
    object-position: center;
}



