.settingarea {
    z-index: 10;
    width: 100vw;
    height: 240px;
    position: fixed;
    bottom: 0;
    left: 0;
    transition: bottom 0.5s;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

    padding: 0px;
    box-sizing: border-box;

    background-color: gainsboro;
    overflow: auto;
}


.settingarea.down {
    bottom: -270px;
}


.setspace {
    height: 240px;
    transition: height 0.5s;
}

.setspace.down {
    height: 0;
}

@media screen and (max-width: 800px) {
    .settingarea {
        height: 40vh;
    }

    .settingarea.down {
        bottom: -100vh;
    }

    .setspace {
        height: 40vh;
    }
}



.settingarea .twoform {
    display: grid;
    grid-template-columns: 120px 1fr;
    grid-template-rows: repeat(4, 1fr);
    align-items: center;

    margin: 10px;
}

.settingarea .fourform {
    display: grid;
    grid-template-columns: 120px 1fr 120px 1fr;
    grid-template-rows: repeat(4, 1fr);
    align-items: center;

    margin: 10px;
}

.settingarea input {
    box-sizing: border-box;
    height: 32px;
    padding: 5px;
    font-size: 1.2rem;
}

.settingarea input[type="text" i] {
    border-radius: 5px;
    border: gray 1px solid;
}

.settingarea .nbut {
    grid-column: span 2;
    border-style: none;
    border: gray 1px solid;
    border-radius: 10px;
    margin: 2px;

    height: 32px;
    transition: background-color 0.25s;
}

.settingarea .nbut:hover {
    background-color: lightgray;
}

