.settingarea {
    z-index: 10;
    width: 100vw;
    height: 30vh;
    position: fixed;
    top: 70vh;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
    padding: 20px;
    box-sizing: border-box;

    background-color: gainsboro;
    transition: top 0.5s;
}

.settingarea.down {
    top: 100vh;
}

.setspace {
    height: 30vh;
    transition: height 0.5s;
}

.setspace.down {
    height: 0;
}


.settingarea .twoform {
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;

    margin: 10px 0;
}

.settingarea input {
    box-sizing: border-box;
    height: 32px;
    padding: 5px;
    font-size: 1.2rem;
}

.settingarea input[type="text" i] {
    border-radius: 5px;
    border: gray 1px solid;
}

